.reveal section img {
  /*background: none !important;*/
  border: none !important;
  padding: .5em;
}

body {
    background: #06596f;
}
/*.reveal aside.notes {
    outline: 1px solid red;
    display: block;
}*/